@import url(https://fonts.googleapis.com/css?family=Open+Sans);


nav {
  max-width: 960px;
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;
  padding: 60px 0;
}

nav ul {
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 18px;
  font-family: "Open Sans";
  text-transform:uppercase;
  color: rgba(0, 35, 122, 0.5);
  font-size: 18px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(234, 151, 62, 0.7);
  color: #fff;
}

.holdingpack {
  display:inline-block;
  width: 300px;
  border: 2px solid #fff;
  border-radius:4px;
  margin-top: 50px;
}

.mypack {
  display:block;
  height:80px;
  background:rgba(234, 151, 62, 0.7);
  /*background-image: linear-gradient(to right, #0ff, rgb(234, 151, 62,));*/
  line-height:19px;
  width:100%;
  border: 0px solid #fff;
  margin-bottom: 10px;
}

.myunderpack {
  background:#0067A6;
  height:100%;
  display: inline-block;
  vertical-align: middle;
  font: 900 23px tahoma;
  text-align: center;
  width:30%;
}

.olink {color:#fff;}
/*
.card-group {
  display: block;
  width: 100%;
  height: 400px;
  text-align: center;
}
.card {
  display: inline-block;
  border: 1px solid grey;
  background: inherit;
  max-width: 278px;
  height: 100%;
}

.card-img-top {
  width:100%;
  background: grey;
}

.card-title {
  font: 100 18px arial;
  text-transform: capitalize;
}

.card-text {
  font: 400 16px -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  color:;
}
*/